{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bangazon - Product Categories</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    {% include "ecomm/navbar.html" with woop=context %}
        <div class="container">

    <h1 class="mt-3">All Categories</h1>
<!-- this is a fking mess but it works..   -->
    {% for category in categories %}
        {% for list in countedIds %}
        {% for productType in list %}
        {% if category.name == productType.name %}

    <h3><a href="{% url 'ecomm:chooseIt' category.id %}">{{ category.name }}: {{ productType.id }} products</a></h3>
        {% endif %}
        <!-- this endfor is for productType -->
        {% endfor %}
        <!-- this endfor is for list -->
        {% endfor %}
<ul>
    {% for itemList in items %}
    {% for item in itemList %}
    {% if category.id == item.productType_id %}
    <li>{{ item.title|title }}</li>
    <!-- {% include "ecomm/categoryBlock.html"  %} -->
    {% endif %}
    <!-- this endfor is for the item -->
    {% endfor %}
    <!-- this endfor is for the itemlist -->
    {% endfor %}
    <!-- this endfor is for the  category -->
</ul>
    {% endfor %}
</div>
</body>
</html>


