{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon-Sell a Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  </head>
  <body>
        {% include "ecomm/navbar.html" %}
      <div class="container">



    <h1>Sell Product</h1>

    <form action="{% url 'ecomm:sell' %}" method="POST">
      {% csrf_token %}
      {{ product_form }}
      <input type="submit" value="Sell It" />
    </form>
</div>
  </body>
</html>

