{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>

  </head>
  <body>
    <h1>Bangazon</h1>
    {% include "ecomm/navbar.html" with woop=context %}
    {% if user.is_authenticated %}

      <h2>Welcome To Bangazon {{ user.username }}!</h2>
      <a href="{% url 'ecomm:logout' %}">Logout</a>
      {% else %}
      <h2>Welcome to Bangazon</h2>


      <div>
        <a href="{% url 'ecomm:login' %}">Login</a>
      </div>

      <div>
        <a href="{% url 'ecomm:register' %}">Register</a>
      </div>
    </ul>
    {% endif %}
    {% for product in product_list %}
    <p>{{ product.title|title }},  Price: ${{ product.price }},  Qty: {{ product.quantity }}</p>
    {% endfor %}

  </body>
</html>