{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon - Order History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  </head>
  <body>
<h1>Order History</h1>


{% include "ecomm/navbar.html" %}

{% for order in orders %}
{% if order.paymentType is not None %}
<h4><a href="{% url 'ecomm:orderDetail' order.id %}">Order #{{ order.id }}</a></h4>
{% for countedItem in countedItems %}
<!-- <h5>Items: {{ countedItem.id }}</h5> -->
{% endfor %}

{% endif %}

{% endfor %}
</body>
</html>



