{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon - Product Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  </head>
  <body>
{% for category in currentCategory %}
{% for ids in countedIds %}
<h1>{{ category.name }}, Total Products: {{ ids.id }}</h1>
{% endfor %}
{% endfor %}

<!-- I DONT KNOW WHAT WOOP DOES, I JUST KNOW IT HAS TO BE THERE SO IT CAN PASS THE CONTEXT FROM INDEX INTO NAV -->
{% include "ecomm/navbar.html" with woop=context %}


{% for product in products %}
<p><a href="{% url 'ecomm:productDetail' product.id %}"">{{ product.title|title }}, Price: ${{ product.price }}</a></p>
{% endfor %}
