<h1>User Settings</h1>
{% include "ecomm/navbar.html" %}

<h3>User Name:</h3>
<p>{{user.first_name}} {{user.last_name}}</p>
<br>
<h3>Address:</h3>
<p>{{ customer.address }}</p>
<br>
<h3>Phone number:</h3>
<p>{{ customer.phone }}</p>
<br>
<h3>Payment Options:</h3>
    {%for payment in payments%}
<p>{{payment.name}} {{payment.cardNum}}</p>
    {%endfor%}
    <a href="{% url 'ecomm:editPaymentsForm' %}"><button>Add/Delete Payment Options</button></a>
    <br>
<h3><a href="{% url 'ecomm:orderHistory' user.id %}">Order History:</a></h3>
    {%for item in history%}
    {% if item.paymentType_id is not None %}
    <p>Order #{{item.order_id}}<br>Item: {{item.product.title}}<br>Description: {{item.product.description}}</p>
    {% else %}
    <p>You have not purchased any items yet.</p>

        {% endif %}
        {%endfor%}

<a href="{% url 'ecomm:editSettingsForm' %}"><button>Update User Settings</button></a>


