{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    {% include "ecomm/navbar.html" %}
    <div class="container">
        <h1 class="mt-3">User Settings: {{ user.username }}</h1>
        <ul class="list-group mt-4">
            <li class="list-group-item">
                <i class="fas fa-user-circle fa-fw"></i><span class="font-weight-bold"> Name</span> {{user.first_name}}
                {{user.last_name}}</li>
            <li class="list-group-item">
                <i class="fas fa-home fa-fw"></i><span class="font-weight-bold"> Address</span> {{ customer.address }}
            </li>
            <li class="list-group-item">
                <i class="fas fa-phone fa-fw"></i><span class="font-weight-bold"> Phone Number</span>
                {{ customer.phone }}</li>
            <li class="list-group-item">
                <i class="fas fa-credit-card fa-fw"></i><span class="font-weight-bold"> Payment Options</span>
                <ul class="mt-2">
                    {%for payment in payments%}
                    <li>{{payment.name}} {{payment.cardNum}}</li>
                    {%endfor%}
                </ul>
                <a href="{% url 'ecomm:editPaymentsForm' %}"><button class="btn btn-primary btn-sm mt-3">Add/Delete
                        Payment Options</button></a>
            </li>
            <li class="list-group-item">
                <i class="fas fa-history fa-fw"></i><span class="font-weight-bold"> Order History</span>
                <ul>
                    {% if history and orders %}
                    {% for order in orders %}
                    <li>
                        <p>Order #{{order.id}}</p>

                        <!-- {%for item in history%}
                        {% if item.order_id == order.id %}
                        <p>Order #{{item.order_id}}</p>
                        <p>Item: {{item.product.title}}<br>Description: {{item.product.description}}</p>

                        {% endif %}
                        {% endfor %}
                        {% endfor %} -->
                    </li>

                    {% else %}
                    <p>You have not purchased any items yet.</p>
                    {% endif %}
                </ul>
                <a href="{% url 'ecomm:orderHistory' user.id %}" class="btn btn-primary btn-sm">Order History Details</a>
        </ul>
        <a href="{% url 'ecomm:editSettingsForm' %}"><button class="btn btn-primary mt-3"><i
                    class="fas fa-user-edit"></i> Edit User Settings</button></a>
    </div>
</body>

</html>
