{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bangazon</title>

  </head>
  <body>
    <h1>Welcome to Bangazon!</h1>
    {% include "navbar.html" %}
    {% if user.is_authenticated %}
    <h1>Bangazon says... hello {{ user.username }}!</h1>
    <a href="{% url 'ecomm:logout' %}">Logout</a>
    {% else %}
    <h1>Bangazon says...</h1>
    <div><a href="{% url 'ecomm:register' %}">Register</a></div>
    <div><a href="{% url 'ecomm:login' %}">Login</a></div>
    {% endif %}
    {% for product in product_list %}
    {{ product.title }}
    {% endfor %}
  </body>
</html>