{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ecomm/main.css' %}" />

<nav>
  <form action="/ecomm/" method='get'>
    <input type="submit" value="Home">
  </form>
  <!-- <form action="/ecomm/products" method='get'>
    <input type="submit" value="Products">
  </form>
  <form action="/ecomm/orders" method='get'>
    <input type="submit" value="View Orders">
  </form>
  <form action="/ecomm/sell" method='get'>
    <input type="submit" value="Sell">
  </form> -->
</nav>