{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ecomm/main.css' %}" />

<nav>
  <form action="/" method='get'>
    <input type="submit" value="index">
  </form>
  <form action="/sell" method='get'>
    <input type="submit" value="sell">
  </form>
  <form action="{% url 'ecomm:searchIt' %}" method='post'>
        {% csrf_token %}
      <input type="text" name="product"/>
      <input type="submit" value="submit"/>
    </form>

  <!-- <form action="/ecomm/orders" method='get'>
    <input type="submit" value="View Orders">
  </form>
  <form action="/ecomm/sell" method='get'>
    <input type="submit" value="Sell">
  </form> -->
</nav>